body { 
    background: #f7f7f7;
    font-family: verdana;

} 

.photo { 
    border: 1px solid #505050;
    border-radius: 50%;
    max-width: 15vh;
    max-height: 15vh;
}

#tittle, .subtitle, .post_title {
    color: #505050;
}

.tittle {
    font-size: 40px;
    text-transform: uppercase;
}

a { 
    color: #505050;
}


.post_title { 
    font-size: 16px;   
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;

}

.post { 
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;    
    max-width: 40%;
    border-radius: 5px;
}

.post_content { 
    margin: 0;
    margin-bottom: 15px;
    max-width: 50%;
}

.post_image { 
    margin-bottom: 15px;
    width: 45vh;
    height: 50vh;
}

.contacts_list { 
    padding-left: 15px;
    list-style-type: none;

}

